/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --page-main-font-family: "Inter", sans-serif;
  --page-accent-font-family: "PressStart2P", fantasy;
  --page-content-font-weight: 410;
  --page-title-font-weight: 715;
  --page-background-image: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      #d3d3d300 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);


     --contour-color: #000;
    --animation-fill-color: #FF0000;
}

